@import 'variables';

// ОБЩИЕ СТИЛИ ДЛЯ РАЗЛИЧНЫХ КОМПОНЕНТОВ.
// ОНИ БУДУТ ВКЛЮЧАТЬСЯ В КОНКРЕТНЫЕ КЛАССЫ

@mixin link() {
	color: $blueColor-2;
	border-bottom: 1px solid rgba($blueColor-2, .2);
	transition: color .2s, border-bottom-color .2s;

	&:hover {
		color: saturate($blueColor-2, 100%);
		border-bottom-color: rgba($blueColor-2, .35);
	}
}

@mixin link--current() {
	/*cursor: default;
	color: $orangeColor-2;
	border-bottom: none;

	&:hover {
		color: saturate($orangeColor-2, 100%);
		border-bottom-color: rgba($orangeColor-2, .35);
	}*/
}

/*@mixin header-2() {
	// clamp!!!
	font-size: 2.4rem;
	line-height: 3rem;
	font-weight: 700;
	font-style: italic;

	@include container-width($tablet-width) {
		font-size: 3.6rem;
		line-height: 4.4rem;
	}
}*/

/*@mixin header-3() {
	// clamp!!!
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 600;
	font-style: italic;

	@include container-width($tablet-width) {
		font-size: 2.6rem;
		line-height: 3.4rem;
	}

	@include container-width($monitor-width) {
		font-size: 2.8rem;
		line-height: 3.6rem;
	}
}*/

/*@mixin header-4() {
	// clamp!!!
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 700;

	@include container-width($tablet-width) {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}

	@include container-width($monitor-width) {
		font-size: 2rem;
		line-height: 2.8rem;
	}
}*/

/*@mixin paragraph-small() {
	font-size: 1.4rem;
	line-height: 2.2rem;

	@include container-width($tablet-width) {
		line-height: 2.4rem;
	}
}*/

/*@mixin paragraph() {
	font-size: 1.6rem;
	line-height: 2.4rem;

	@include container-width($tablet-width) {
		line-height: 2.6rem;
	}
}*/

// Стиль обёртки заметки или обёртки блока с текстами тренировки упражнений
/*@mixin content-wrapper() {
	padding: 1.2rem 1.4rem;
	border-radius: $radius-2;

	@include container-width($tablet-width) {
		padding: 1.2rem 1.6rem;
	}

	@include container-width($monitor-width) {
		padding: 1.2rem 2rem;
	}
}*/

