@import 'mixins';

$grayColor-1: #f6f6f9;
$textColor: rgb(30, 30, 30);
$blueColor-1: #cde9ff;
$blueColor-2: #0061b6;

$tablet-width: 600px;
$monitor-width: 1000px;
$max-page-width: 1440px;

$radius-1: 4px;
$radius-2: 1rem;

$leftCell: 15rem

