@import '../../../styles/variables.scss';

.tools {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.tool {
	display: flex;
}

.tool__left-part {
	width: $leftCell;
	flex-shrink: 0;
	box-sizing: border-box;
	padding-right: 1rem;
}

.tool__right-part {

}

.tool__description {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 0.4rem;
}
