@import '../../../styles/variables.scss';

.experience {

}

.experience__items {
	display: flex;
	flex-direction: column;
	gap: 4.4rem;
}

.experience__item {
	display: flex;
}

.experience__item-left {
	width: $leftCell;
}

.experience__time {
	display: flex;
	flex-direction: column;
	gap: .2rem;
	font-size: 1.4rem;
	font-weight: 500;
}

.experience__duration {
	font-size: 1.4rem;
	margin-top: .2rem;
}

.experience__item-content {
	flex: 1;
}

.experience__company-name {
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 600;
	margin-top: 0.2rem;
}

.experience__company-site {
	margin-top: 0.4rem;
}

.experience__position {
	font-size: 2.2rem;
	line-height: 2.8rem;
	font-weight: 500;
	margin-top: 0.6rem;
}

.experience__description {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	margin-top: 1rem;
}

.experience__technologies {
	display: flex;
	gap: 1rem;
	margin-top: 1.2rem;
}

.experience__technology {
	display: inline-block;
	font-weight: 500;
	background-color: $grayColor-1;
	padding: .1rem 0.6rem;
	border-radius: $radius-1;
}

.experience__note {
	background-color: $grayColor-1;
	padding: 1rem 1.6rem;
	margin-top: 2rem;
	border-radius: $radius-1;
}
